<table class="table table-hover" text-align='center'>
  <tr>
    
    <th>S.NAME </th><br>
    <th>AGE</th><br>
    <th>ADDRESSS</th> <br>
    <th>DepartmentName</th>
  </tr>
  <tr *ngFor="let item of list">
    <td>{{ item.Name }}</td> <br>
    <td>{{ item.Age }}</td>  <br>
    <td>{{ item.Address }}</td>  <br>
    <td>{{item.DepartmentName}}</td>
    <td>
      <input type="button" value="Edit" [routerLink]="['edit', item.id]"x class="btn">
      <input type="button" value="Delete" (click)="onDelete(item.id)"x class="btn">      
      
  </td>
</table>

